:root {
    --clr-primary: #233D4D;
    --clr-secondary: #619B8A;
    --clr-button-second: #A1C181;
    --clr-accent: #FE7F2D;
    --clr-pop: #F2F2F2;

    --clr-scribble: #2B4B5F;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Figtree', sans-serif;
    font-size: 1.195em;
}

h1 {
    font-family: 'Loved by the King', cursive;
    margin: 1em 0em 1em 0em;
    font-size: 1.85em;
}

img {
    width: 100%;
}

p {
    line-height: 1.5em;       
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

.row {
    display: flex;
    flex-direction: column;
}

.hero {
    background: var(--clr-primary);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__main-bg {
    background: var(--clr-secondary);
    border: solid var(--clr-accent) 8px;
    padding: 2em;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero__top-left {
    width: 90px;

}

.img__top {
    margin-bottom: 1em;
}

.img__bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.hero__bottom-right {
    width: 90px;
}

.offerings__list {
    list-style: none;
    margin-bottom: .125em;
    padding: 0;
    padding-top: .525em;

    display: flex;
    justify-content: space-between;
}

.offerings__list + .offerings__list {
    border-top: 1px solid var(--clr-pop);
}

.items {
    display: flex;
    flex-direction: column;
}

.scribble {
    margin: 5em 0em 5em 0em;
}

.row__scribbles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

.scribble__img {
    width: 70px;
}

.offerings--img {
    filter: grayscale(1);
    height: 400px;
}

.col + .col {
    margin-top: 1.125em;
}

.item {
    background: var(--clr-pop);
    margin: .25em 0em .25em 0em;
}

.grid__layout  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    height: 320px;
    width: 100%;

    padding: 1em;
}

.grid__title {
    padding: 0;
    margin: 0;

    font-size: 3.125em;
    color: var(--clr-primary);
}

.grid__text {
    text-align: center;
}

.scribble__grid {
    width: 75px;
}

.scribble__grid__sm {
    width: 50px;
}

.pre__footer {
    padding-top: 3em;
}

.pre__footer--scribble {
    width: 100px;
}

.pre__footer--flex {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;
}

.pre__footer--title {
    font-size: 1.75em;
}

.button--menu {
    background-color: var(--clr-secondary);
    color: #fff;
    text-decoration: none;
    padding: .65em;
    width: 100%;

    margin-bottom: .75em;
}

.button-event {
    background-color: var(--clr-button-second);
    color: #fff;
    text-decoration: none;
    padding: .65em;
    width: 100%;

    margin-bottom: .75em;
}

.button--visit {
    background-color: var(--clr-accent);
    color: #fff;
    text-decoration: none;
    padding: .65em;
    width: 100%;
}

.button-event:hover,
.button-event:focus,

.button--menu:hover,
.button--menu:focus,

.button--visit:hover,
.button--visit:focus{
    opacity: .60;
    transition: ease-in .1s;
}

footer {
    margin: 3em 0em 1em 0em;
}

.social__img {
    width: 40px;
}

.social__link + .social__link {
    margin-left: 1.5em;
}

.social__icons {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0em 0em 2em;
}

